<h1>같이해요</h1>
<div class="container" style="margin-top:50px;">
<form >
  <div>
    <label for="exampleInputEmail1">제목:</label>
  <span style = "font-weight:bold;"><%= @one_gachi.title %></span>
  <div class="well">
  <%= @one_gachi.content %>
  </div>

</form>
</div>
<label>리플 </label>
<div class="well">
<% @one_gachi.gachires.each do |r|%>
<p><%= r.content %> </p>
<% end %>
</div>


<form action="/gachire" method="POST">
    <input type="hidden" value="<%= @one_gachi.id %>" name="gachire">
    <label for="exampleInputPassword1">리플쓰기</label>
    <textarea name="content" class="form-control" row="5" id="comments" placeholder="리플을 써주세요"></textarea>



  <button type="submit" class="btn btn-default">쓰기</button>        <a href="/gachi_list"> <button type="submit" class="btn btn-default">목록</button></a>
</form>
